body {
    font-family: Arial, sans-serif;
    background-color: #f5f3f8;
}

h1 {
    color: #560276;
}

a {
    color: blue;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

nav {
    background-color: #9024f5; /* Cambia el color de fondo del menú */
    color: #9024f5;
    padding: 10px 0;
}

nav a {
    color: #cedef6; /* Cambia el color del texto de los enlaces */
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    margin-right: 30px; /* Ajusta el espaciado entre elementos del menú */
}